In [1]:
import pandas as pd

In [2]:
# File path as a variable
file_path = "../Resources/purchase_data.csv"

In [3]:
# Import purchase_data.csv as a DataFrame 
purchase_data_df = pd.read_csv(file_path, encoding = "ISO-8859-1")

In [4]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

<h2>Player Count

In [5]:
# Finding number of unique SN to determine the number of players 
unique_players = purchase_data_df["SN"].nunique()

# Creating dictionary with total players 
unique_players_dict = [{"Total Players": unique_players}]

# Converting dictionary to data frame and printing
total_player_df = pd.DataFrame(unique_players_dict)
total_player_df

   Total Players
0            576

<h2> Purchasing Analysis (Total)

In [18]:
unique_items = purchase_data_df["Item Name"].nunique()

In [19]:
avg_purchase_price = purchase_data_df["Price"].mean()

In [20]:
total_purchases = purchase_data_df["Purchase ID"].count()

In [21]:
total_revenue = purchase_data_df["Price"].sum()

In [24]:
summary_table=pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Purchase Price":[avg_purchase_price],
                           "Total Number of Purchases":[total_purchases],
                           "Total Revenue":[total_revenue]})

summary_table=summary_table[["Number of Unique Items","Average Purchase Price",
                             "Total Number of Purchases","Total Revenue"]]

summary_table

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

<h2> Gender Demographics

In [ ]:
purchase_data_df["Gender"].value_counts() 
# this is not correct, because its every male/female/other/nondisclosed occurrance in the df, 
# but only want it for unique occurrences

In [ ]:
purchase_data_df["Gender"].value_counts(normalize=True) # can use this method for percentage

<h2> Purchasing Analysis (Gender)

<h3> Male

In [ ]:
print("Purchase Count:")
male_purchase_count = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", "Purchase ID"].count()
male_purchase_count

In [ ]:
print("Mean:")
male_mean_purchase = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", "Price"].mean()
male_mean_purchase