In [1]:
import pandas as pd

In [2]:
file_path = "../Resources/purchase_data.csv"

In [3]:
purchase_data_df = pd.read_csv(file_path)

<h2>Player Count

In [4]:
unique_players = purchase_data_df["SN"].nunique()

unique_players_dict = [{"Total Players": unique_players}]

total_player_df = pd.DataFrame(unique_players_dict)
total_player_df

   Total Players
0            576

<h2> Purchasing Analysis (Total)

In [5]:
unique_items = purchase_data_df["Item Name"].nunique()

In [6]:
avg_purchase_price = purchase_data_df["Price"].mean()

In [7]:
total_purchases = purchase_data_df["Purchase ID"].count()

In [8]:
total_revenue = purchase_data_df["Price"].sum()

In [9]:
purchasing_analysis = pd.DataFrame({"Number of Unique Items" : [unique_items],
                           "Average Price" : [avg_purchase_price],
                           "Number of Purchases" : [total_purchases],
                           "Total Revenue" : [total_revenue]})

purchasing_analysis = purchasing_analysis[["Number of Unique Items","Average Price",
                             "Number of Purchases","Total Revenue"]]

purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:.2f}".format)


purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

<h2> Gender Demographics

In [10]:
without_duplicate_SN_df = purchase_data_df.drop_duplicates(subset = 'SN')

gender_count = without_duplicate_SN_df["Gender"].value_counts() 

gender_percentage = without_duplicate_SN_df["Gender"].value_counts(normalize=True)

In [11]:
gender_demographics = pd.DataFrame({"Total Count" : gender_count, "Percentage of Players" : gender_percentage})

gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.2%}".format)

gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

<h2> Purchasing Analysis (Gender)

In [12]:
gender_purchase_count = purchase_data_df.groupby(["Gender"]).count()["Purchase ID"]

gender_avg_price = purchase_data_df.groupby(["Gender"]).mean()["Price"].map("${:.2f}".format)

gender_total_purchase = purchase_data_df.groupby(["Gender"]).sum()["Price"].map("${:.2f}".format)

gender_avg_price_pp = (purchase_data_df.groupby(["Gender"]).sum()["Price"] / 
                       gender_count).map("${:.2f}".format)

In [13]:
gender_purchasing_analysis = pd.DataFrame({"Purchase Count" : gender_purchase_count,
                           "Average Purchase Price" : gender_avg_price,
                           "Total Purchase Value" : gender_total_purchase,
                           "Avg Total Purchase per Person" : gender_avg_price_pp})

gender_purchasing_analysis = gender_purchasing_analysis[["Purchase Count","Average Purchase Price",
                             "Total Purchase Value","Avg Total Purchase per Person"]]

gender_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

<h2> Age Demographics

In [14]:
# For reference.. min = 7, max = 45
bins = (0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 44.9, 49.9)
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"]

In [15]:
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels = group_labels)

In [16]:
age_count = purchase_data_df["Age Range"].value_counts()

age_percentage = purchase_data_df["Age Range"].value_counts(normalize=True)

In [17]:
# NEED TO COME BACK TO THIS 
age_demographics = pd.DataFrame({"Total Count" : age_count, "Percentage of Players" : age_percentage})

age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2%}".format)
age_demographics

       Total Count Percentage of Players
20-24          365                46.79%
15-19          136                17.44%
25-29          101                12.95%
30-34           73                 9.36%
35-39           41                 5.26%
10-14           28                 3.59%
<10             23                 2.95%
40-44           12                 1.54%
45-49            1                 0.13%

<h2> Purchase Analysis (Age)

In [18]:
age_purchase_count = purchase_data_df.groupby(["Age Range"]).count()["Purchase ID"]

age_avg_purchase_price = purchase_data_df.groupby(["Age Range"]).mean()["Price"].map("${:.2f}".format)

age_total_purchase = purchase_data_df.groupby(["Age Range"]).sum()["Price"].map("${:.2f}".format)

# need to do age demo first and get number of people in the age range who made a purchase 
age_avg_price_pp = (purchase_data_df.groupby(["Age Range"]).sum()["Price"] 
                    / age_purchase_count).map("${:.2f}".format)

In [19]:
age_purchase_analysis = pd.DataFrame({"Purchase Count" : age_purchase_count,
                           "Average Purchase Price" : age_avg_purchase_price,
                           "Total Purchase Value" : age_total_purchase,
                           "Avg Total Purchase per Person" : age_avg_price_pp})

age_purchase_analysis = age_purchase_analysis[["Purchase Count","Average Purchase Price",
                             "Total Purchase Value","Avg Total Purchase per Person"]]

age_purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40-44,12,$3.04,$36.54,$3.04
45-49,1,$1.70,$1.70,$1.70

<h2> Top Spenders

In [29]:
top_spenders_df = purchase_data_df.groupby(["SN"]).agg({"Price" : ["count", "mean", "sum"]})
top_spenders_df[("Price","mean")] = top_spenders_df[("Price","mean")].map("${:.2f}".format)
top_spenders_df[("Price","sum")] = top_spenders_df[("Price","sum")].map("${:.2f}".format)
top_spenders_df.sort_values([("Price","sum")], ascending = False).head()

             Price
             count   mean    sum
SN
Haillyrgue51     3  $3.17  $9.50
Phistym51        2  $4.75  $9.50
Lamil79          2  $4.64  $9.29
Aina42           3  $3.07  $9.22
Saesrideu94      2  $4.59  $9.18

<h2> Most Popular Items

In [31]:
most_popular_df = purchase_data_df.groupby(["Item Name", "Item ID"]).agg({"Price" : ["count", "mean", "sum"]})
most_popular_df[("Price","mean")] = most_popular_df[("Price","mean")].map("${:.2f}".format)
most_popular_df[("Price","sum")] = most_popular_df[("Price","sum")].map("${:.2f}".format)
most_popular_df.sort_values([("Price","count")], ascending = False).head()

                                                     Price
                                                     count   mean     sum
Item Name                                    Item ID
Final Critic                                 92         13  $4.61  $59.99
Oathbreaker, Last Hope of the Breaking Storm 178        12  $4.23  $50.76
Persuasion                                   132         9  $3.22  $28.99
Nirvana                                      82          9  $4.90  $44.10
Extraction, Quickblade Of Trembling Hands    108         9  $3.53  $31.77

<h2> Most Profitable Items

In [33]:
most_profitable_df = purchase_data_df.groupby(["Item Name", "Item ID"]).agg({"Price" : ["count", "mean", "sum"]})
most_profitable_df[("Price","mean")] = most_profitable_df[("Price","mean")].map("${:.2f}".format)
most_profitable_df[("Price","sum")] = most_profitable_df[("Price","sum")].map("${:.2f}".format)
most_profitable_df.sort_values([("Price","sum")], ascending = False).head()

                                          Price
                                          count   mean    sum
Item Name                         Item ID
Stormfury Mace                    63          2  $4.99  $9.98
Chaos, Ender of the End           29          5  $1.98  $9.90
Stormfury Longsword               173         2  $4.93  $9.86
The Void, Vengeance of Dark Magic 38          4  $2.37  $9.48
Frenzied Scimitar                 143         6  $1.56  $9.36