In [1]:
import pandas as pd

In [2]:
# File path as a variable
file_path = "../Resources/purchase_data.csv"

In [3]:
# Import purchase_data.csv as a DataFrame 
purchase_data_df = pd.read_csv(file_path, encoding = "ISO-8859-1")

In [4]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

<h2>Player Count

In [5]:
# Finding number of unique SN to determine the number of players 
unique_players = purchase_data_df["SN"].nunique()

# Creating dictionary with total players 
unique_players_dict = [{"Total Players": unique_players}]

# Converting dictionary to data frame and printing
total_player_df = pd.DataFrame(unique_players_dict)
total_player_df

   Total Players
0            576

<h2> Purchasing Analysis (Total)

In [6]:
# Getting the number of unique item names 
unique_items = purchase_data_df["Item Name"].nunique()

In [7]:
# Getting the average purchase price 
avg_purchase_price = purchase_data_df["Price"].mean()

In [8]:
# Getting the total number of purchases
total_purchases = purchase_data_df["Purchase ID"].count()

In [9]:
# Getting the sum of total revenue 
total_revenue = purchase_data_df["Price"].sum()

In [10]:
purchasing_analysis = pd.DataFrame({"Number of Unique Items" : [unique_items],
                           "Average Price" : [avg_purchase_price],
                           "Number of Purchases" : [total_purchases],
                           "Total Revenue" : [total_revenue]})

purchasing_analysis = purchasing_analysis[["Number of Unique Items","Average Price",
                             "Number of Purchases","Total Revenue"]]

# Using map to format Average Price and Total Revenue as currency
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:.2f}".format)


purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

<h2> Gender Demographics

In [11]:
# Creating a dataframe without duplicate SN 
without_duplicate_SN_df = purchase_data_df.drop_duplicates(subset = 'SN')

# Getting counts for male, female, and other/non-disclosed users 
gender_count = without_duplicate_SN_df["Gender"].value_counts() 

# Getting percentages for male, female, and other/non-disclosed users 
gender_percentage = without_duplicate_SN_df["Gender"].value_counts(normalize=True)

In [12]:
gender_demographics = pd.DataFrame({"Total Count" : gender_count, "Percentage of Players" : gender_percentage})

# Using map to format Percentage of Players as a percentage 
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.2%}".format)


gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

<h2> Purchasing Analysis (Gender)

In [21]:
gender_purchase_count = purchase_data_df.groupby(["Gender"]).count()["Purchase ID"]

gender_avg_price = purchase_data_df.groupby(["Gender"]).mean()["Price"].map("${:.2f}".format)

gender_total_purchase = purchase_data_df.groupby(["Gender"]).sum()["Price"].map("${:.2f}".format)

#NOT SURE IF THIS CALCULATION IS RIGHT? ... not getting the same value? 
gender_avg_price_pp = (purchase_data_df.groupby(["Gender"]).sum()["Price"] / 
                       gender_purchase_count).map("${:.2f}".format)

In [22]:
gender_purchasing_analysis = pd.DataFrame({"Purchase Count" : gender_purchase_count,
                           "Average Purchase Price" : gender_avg_price,
                           "Total Purchase Value" : gender_total_purchase,
                           "Avg Total Purchase per Person" : gender_avg_price_pp})

gender_purchasing_analysis = gender_purchasing_analysis[["Purchase Count","Average Purchase Price",
                             "Total Purchase Value","Avg Total Purchase per Person"]]

gender_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,$1967.64,$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

<h2> Age Demographics

In [15]:
# min = 7, max = 45
bins = (0, 10, 15, 20, 25, 30, 35, 40, 45, 50)
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"]

In [16]:
# Placing data series into new column inside of the purchase_data_df 
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels = group_labels)

In [31]:
age_purchase_count = purchase_data_df.groupby(["Age Range"]).count()["Purchase ID"]

age_avg_purchase_price = purchase_data_df.groupby(["Age Range"]).mean()["Price"].map("${:.2f}".format)

age_total_purchase = purchase_data_df.groupby(["Age Range"]).sum()["Price"].map("${:.2f}".format)

#NOT SURE IF THIS CALCULATION IS RIGHT? ... not getting the same value? 
age_avg_price_pp = (purchase_data_df.groupby(["Age Range"]).sum()["Price"] 
                    / age_purchase_count).map("${:.2f}".format)

In [32]:
age_demographic = pd.DataFrame({"Purchase Count" : age_purchase_count,
                           "Average Purchase Price" : age_avg_purchase_price,
                           "Total Purchase Value" : age_total_purchase,
                           "Avg Total Purchase per Person" : age_avg_price_pp})

age_demographic = age_demographic[["Purchase Count","Average Purchase Price",
                             "Total Purchase Value","Avg Total Purchase per Person"]]

age_demographic

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,32,$3.40,$108.96,$3.40
10-14,54,$2.90,$156.60,$2.90
15-19,200,$3.11,$621.56,$3.11
20-24,325,$3.02,$981.64,$3.02
25-29,77,$2.88,$221.42,$2.88
30-34,52,$2.99,$155.71,$2.99
35-39,33,$3.40,$112.35,$3.40
40-44,7,$3.08,$21.53,$3.08
45-49,0,$nan,$0.00,$nan

<h2> Top Spenders

In [48]:
grouped_by_sn = purchase_data_df.groupby(["SN"]).sum()["Price"]
top_spenders_df = pd.DataFrame({"Price" : grouped_by_sn})
top_spenders_df.nlargest(5, ['Price'])

             Price
SN
Lisosia93    18.96
Idastidru52  15.45
Chamjask73   13.83
Iral74       13.62
Iskadarya95  13.10